/* CSS Stylesheet */
@import url('https://fonts.googleapis.com/css?family=Oswald');


header > h1,h2{
    text-align: center;
	font-family: 'Oswald', sans-serif;
}

footer {
	border: 1px solid #ccc;
}

footer img{
    width: 25%;
    align-items: left;
}

.col-img {
	width: 100%;
	height: auto;
}

.img-container img {
	width: 75%;
}

div#Resultados img{
	width: 100%;
	height: auto;
}

.tab {
    
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 300px;
}

.tab button {
    
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}


.tabcontent {
    animation: fadeEffect 1s;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 300px;  
    overflow-y:scroll;
}


@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}