/* CSS Stylesheet */
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* * {
	border: 1px solid red;
} */

header > h1,h2{
    text-align: center;
	font-family: 'Oswald', sans-serif;
}

footer {
	border: 1px solid #ccc;
}

footer img{
    width: 25%;
    align-items: left;
}

.col-img {
	width: 100%;
	height: auto;
}

.img-container img {
	width: 75%;
}

h3 + p:first-letter{ 
    font-size: 180%;
    color: black;
}


div#Resumen {
	width: 100%;
}

div#Resultados img{
	width: 100%;
	height: auto;
}

.nav-item:active {
	background-color: #5e6872;
}

.nav-link:visited {
	color: rgb(184, 192, 201);
}

.tab {
    
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 300px;
}

.tab button {
    
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}


.tab button:hover, button:focus {
    background-color: #ddd;
}

.tabcontent {
    animation: fadeEffect 1s;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 300px;  
    overflow-y:scroll;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  {
	.tab button {
		text-align:center;
	}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
